.game-canvas-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width:900px;
}

.brush-preview-container {
  flex-shrink: 0; 
}

@media (max-width: 768px) {
  .game-canvas-container, .brush-preview-container {
      max-width: 100%;
  }
}

/* LIGHT MODE */
main {
  height:100%;
}

header {
  padding:2%;
  margin-bottom:20px;
  background:rgb(177, 177, 177);
}

footer {
  padding:2%;
  margin-top: 2%;
  background:rgb(177, 177, 177);
}


#toggle-light-dark {
  width:36px;
  height:36px;
  font-size:20px;
  border:1px solid rgb(0, 0, 0);
  border-radius:20px;
}

/* main container */
#main-container {
  max-width:500px;
  justify-content: space-evenly;
}

/* table */
#oflow-container {
  width:700px;
  height:500px;
  overflow: hidden;
  border:2px solid black;
  touch-action:none;
  overscroll-behavior: contain;
  transform-origin: 0 0;
}

/* scrollbar for oflow-container */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

table.grid {
  border-collapse: collapse;
  margin: auto;
  border:2px solid black;
}

.cell {
  width: 20px;
  height: 20px;
  min-width:20px;
  max-width:20px;
  border: 1px solid #ccc;
}

.alive {
  background-color: black !important;
}

.dead {
  background-color: white !important;
}

.hover {
  background-color: #96969633;
}

/* room title */

#copy:hover {
  color:rgba(2, 53, 129, 0.503);
}

/* join room container */

#join-room-container {
  max-width:400px;
  margin-top:100px;
  background:rgb(202, 202, 202);
  padding:30px;
  border-radius:20px;
  margin-bottom: 25vh;
}

/* additional options section (join room container) */

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-10px); }
}

.fade-in {
  animation: fadeIn 0.4s ease forwards;
}

.fade-out {
  animation: fadeOut 0.4s ease forwards;
}

/* link */
a {
  color:#495057;
}

/* DARK MODE */

body.dark {
  background-color: #111;
  color:white;
}

header.dark {
  padding: 2%;
  margin-bottom: 20px;
  background: rgb(40, 40, 40);
}

footer.dark {
  background:rgb(40, 40, 40);
}

#toggle-light-dark.dark {
  width:36px;
  height:36px;
  font-size:20px;
  border:1px solid rgb(255, 255, 255);
  border-radius:20px;
}

/* alert */
.alert-danger.dark {
  --bs-alert-color: #f8d7da; /* Light red text for better contrast */
  --bs-alert-bg: #842029;   /* Dark red background */
  --bs-alert-border-color: #f5c2c7; /* Subtle border color */
  --bs-alert-link-color: #f8d7da; /* Light red link color */
}

/* main container */
#main-container.dark {
  max-width: 500px;
}

/* table */
#oflow-container.dark {
  border:2px solid white;
}

.cell.dark {
  border: 1px solid #555;
}

.alive.dark {
  background-color: white !important;
}

.dead.dark {
  background-color: black !important;
}

.hover.dark {
  background-color: #cccccc33;
}

/* room title */
#copy:hover.dark {
  color: rgba(98, 155, 255, 0.7);
}

/* join room container */
#join-room-container.dark {
  background: rgb(60, 60, 60);
}

/* link */
a.dark {
  color:#949ca5;
}

/* button */
.btn-primary.dark {
  background:#052c65;
  border-color:#052c65;
}